/* ==========================================================================
   Login Box styles
   ========================================================================== */

/*Change Backgound image here */

body{
	background     : rgb(240, 240, 240) url(../img/login_background.jpeg) center;
	padding        : 40px;
	padding-bottom : 200px;
	background-color: #73b4ff !important;
	padding-bottom: 125px !important;
}

.header{
	position: absolute;
	left: 50%;
	margin-left: -394px;
	top: 10px;
}

.alert{
	margin: 20px auto;
	width: 70%;
}

#login-block{
	padding-top    : 143px;
	padding-bottom : 10px;
	width          : 460px;
}

#logoorfeo{
  width            : 250px;
  height           : 75px;
  position         : fixed;
  bottom              : 0px;
  left             : 0px;
  background-image : url(../img/orfeo.png);
  zoom             : 1;
}

#logocorrelibre{
  width            : 120px;
  height           : 100px;
  position         : fixed;
  bottom           : 0px;
  right            : 0px;
  background-image : url(../img/correlibre.png);
  zoom             : 1;
}

#login-block h3{
	color       : #FFF;
	text-align  : center;
	font-size   : 1.5em;
	text-shadow : 2px 2px 2px #000;
	font-weight : normal;
}

.login-box{
	position: relative;
	background-color: #fff;
	max-width:550px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 30px;
	padding-bottom: 60px;
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.login-box .imgPie {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 8px;
}

.login-logo{
	text-align: center;
	padding: 15px 0 10px;
}

.login-logo img{
	border:0;
}


.login-form form p{
	width:80%;
	margin: 5px auto 10px;
	text-align: center;
	color:#FFF;
	text-shadow: 1px 1px 2px #000;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 5px;
}

.login-form p.login-alt-text {
	text-align: right;
	font-size: 1.2em;
	color: rgb(132, 132, 132);
	text-transform: uppercase;
	margin-right: 15px;
}

.login-form label {
	color: rgb(132, 132, 132);
}

.login-box hr{
	margin:10px auto 20px;
	width:70%;
	border-top: 1px solid rgba(119, 118, 118, 0.4);
border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}

/* Login Form */
.login-form input{
	width:100%;
	box-sizing: border-box;
	background: #FFF;
	border:1px solid #777;
	color:#6c6c6c;
	padding: 20px;
	opacity: .8;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.login-form input#usr {
    padding-left: 39px;
    background: url(images/ic-1.png) 4px 4px / 30px no-repeat scroll;
}

.login-form input#pass {
    padding-left: 39px;
    background: url(images/ic-2.png) 4px 4px / 30px no-repeat scroll;
}

.login-form input:focus{
	opacity:1;
	border:1px solid #fff;
}


/* Login Button */
.btn.btn-login {
    font-weight: normal;
    font-size: 1.2em;
    width: 100%;
    line-height: 40px;
    display: block;
    color: white;
    text-transform: uppercase;
    text-shadow: none !important;
    margin: 20px auto;
    background: rgb(0, 114, 62);
    transition: background 0.5s ease-in-out 0s;
}

.btn.btn-login:hover {
    background: rgb(0, 114, 62);
}

.btn.btn-reset{
	width: 180px;
}

.login-links{
	text-align: center;
	background: rgba(10, 7, 4, 0.64);
	padding: 5px 0;
	-webkit-box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59);
	-moz-box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59);
	box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59);
}

.login-links a{
	color: #FFF;
	display:inline-block;
	padding:5px;
	opacity:1;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	text-shadow: 1px 1px 2px #000;
}
.login-links a:hover{
	text-decoration: none;
	color:#FFF;
	opacity:1;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

label.checkbox {
	width: 70%;
	display: block;
	margin: 0 auto;
	color: white;
	text-shadow: 1px 1px 2px #000;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px 25px;
	border-radius: 3px;
}
label.checkbox input{
	width:25px;
	margin: 4px 0 0;
	padding: 0;
	background: none;
	border: 0;
}
#footer-text, #footer-text a{
	text-align: center;
	color:#FFF;
	opacity: 1;
	text-shadow: 1px 1px 1px #000;
}

/* Social Login */
.social-login{
	margin:10px 0 5px;
}
.social-login .btn{
   text-align: center;
    margin: 5px auto;
    color:#FFF;
    text-shadow: 1px 1px 1px #333;
    width:90%
    -webkit-box-shadow:  0px 0px 10px #FFF;
	-moz-box-shadow:  0px 0px 10px #FFF;
	box-shadow: 0px 0px 10px #FFF;
}

.btn.btn-facebook {
	border: 1px solid #2D4479;
	-webkit-box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #5272bf, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	background: #385496;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#385496));
	background-image: -webkit-linear-gradient(top,#4365B4,#385496);
	background-image: -moz-linear-gradient(top,#4365B4,#385496);
	background-image: -o-linear-gradient(top,#4365B4,#385496);
	background-image: linear-gradient(top,#4365B4,#385496);
	font-size: 12px;
}
.btn.btn-facebook:hover {
	background: #365293;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#365293));
	background-image: -webkit-linear-gradient(top,#4365B4,#365293);
	background-image: -moz-linear-gradient(top,#4365B4,#365293);
	background-image: -o-linear-gradient(top,#4365B4,#365293);
	background-image: linear-gradient(top,#4365B4,#365293);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}

.btn.btn-twitter {
	border: 1px solid #2189FF;
	-webkit-box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #8dc2ff, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	background: #4A9EFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#4A9EFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -o-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: linear-gradient(top,#73B4FF,#4A9EFF);
	font-size: 12px;
}

.btn.btn-twitter:hover {
	background: #459CFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#459CFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -o-linear-gradient(top,#73B4FF,#459CFF);
	background-image: linear-gradient(top,#73B4FF,#459CFF);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}
.fb-login, .twit-login{
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#login-block{
		padding-top: 10px;
		padding-bottom: 25px;
	}

}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
	#login-block {
		margin: 0 auto;
		width: 420px;
	}

}






